html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0%;
    background-color: rgb(1, 79, 148);
}

.container{
    display: flex;
    flex-direction: column;
}

.buttons{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divContainer{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 840px;
    height: 840px;
    background-color: rgb(183, 188, 192);
}

.boxContainer{
    display: flex;
    flex: 1 1 auto;
}

.box{
    border: solid 0.1px;
    border-color: rgb(153, 153, 153);
    height: auto;
    width: auto;
    flex: 1 1 auto;
    margin: 0;

}